<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}">ID</td>
                <td>
                    <a th:href="@{'/items/' + ${item.id}}" th:text="${item.name}">상품명</a>
                </td>
                <td th:text="${item.price}">가격</td>
                <td th:text="${item.stockQuantity}">수량</td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td>
                    <form th:action="@{/items/{id}/delete (id=${item.id})}" method="post">
                        <input class="btn btn-danger" type="submit" role="button" value="삭제">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>